@media (max-width: 991px)
    *:hover
        none
    .promo
        &__description
            padding-right: 20px
    .callBack
        padding-left: 30px
    .comments
        &__users
            justify-content: center
        &__img
            flex: 0 1 140px
            height: 140px
        &__header
            h4
                font-size: 16px
        &__text
            p   
                margin-top: 15px
                font-size: 14px
    .main_footer
        &__contacts
            width: 420px;
            height: 237px;
            address
                font-size: 18px
            a
                font-size: 18px
        &__social
            a
                width: 45px
                height: 45px



    